header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-size: 1em;
    h1 {
        font-size: 1em;
    }
    .darkMode {
        display: flex;
        align-items: center;
        &__icon {
            width: 1em;
            margin-right: 1em;
        }
        &__text{
            
        }
    }
}
