.modal {
    padding: 0px;
    border: none;
    height: 100vh;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        padding: 1em 0em;
        h2 {
            font-size: 1em;
            margin-left: 5vw;
        }
        .darkModeModal {
            display: flex;
            align-items: center;
            margin-right: 5vw;
            cursor: pointer;
            &__icon {
                width: 1em;
                margin-right: 0.5em;
            }
            &__text {
            }
        }
    }

    .close-button {
        display: flex;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        width: fit-content;
        margin-top: 2em;
        margin-bottom: 2em;
        cursor: pointer;
        padding: 0.3em 1.5em;
        margin-left: 1em;

        img {
            width: 3vw;
        }
    }

    &__container {
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        &__flag {
            width: 100%;

            img {
                width: 100%;
            }
        }

        &__information {
            width: 100%;

            &__description {
                display: flex;
                flex-direction: column;
            }

            &__border {
                &__country {
                    display: flex;
                    flex-wrap: wrap;
                    a {
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                        margin-right: 1em;
                        padding: 0.2em 1em;
                        margin-bottom: 1em;
                    }
                }
            }
        }
    }
}

.modal::backdrop {
    background-color: rgb(112, 111, 111);
    opacity: 0.8;
}
