// COLORS
// -- Dark mode
$deepBlue: #2b3945; // element
$darkBlue: #202c37;// background
// -- Light mode
$lightGrey: #fafafa; // background
$darkGrey: #858585; // input
// RESPONSIVE
$desktop: 821px; // Ipad Air +1px