@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 1em 0em;
}
header h1 {
  font-size: 1em;
  margin-left: 5%;
}
header .darkMode {
  display: flex;
  align-items: center;
  margin-right: 5%;
  cursor: pointer;
}
header .darkMode__icon {
  width: 1em;
  margin-right: 0.5em;
}

.modal {
  padding: 0px;
  border: none;
  height: 100vh;
  color: #2b3945;
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 1em 0em;
}
.modal__header h2 {
  font-size: 1em;
  margin-left: 5%;
}
.modal__header .darkModeDetail {
  display: flex;
  align-items: center;
  margin-right: 5%;
  cursor: pointer;
}
.modal__header .darkModeDetail__icon {
  width: 1em;
  margin-right: 0.5em;
}
.modal .close-button {
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 2em;
  margin-bottom: 2em;
  cursor: pointer;
  padding: 0.3em 1em;
  margin-left: 1em;
}
.modal .close-button img {
  width: 2em;
  margin-right: 10px;
}
.modal__container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 300px;
}
.modal__container__flag {
  max-width: 300px;
}
.modal__container__flag img {
  max-width: 300px;
}
.modal__container__information {
  width: 100%;
}
.modal__container__information__description {
  display: flex;
  flex-direction: column;
}
.modal__container__information__border__country {
  display: flex;
  flex-wrap: wrap;
}
.modal__container__information__border__country a {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-right: 1em;
  padding: 0.2em 1em;
  margin-bottom: 1em;
}

.modal::-webkit-backdrop {
  background-color: rgb(112, 111, 111);
  opacity: 0.8;
}

.modal::backdrop {
  background-color: rgb(112, 111, 111);
  opacity: 0.8;
}

.search-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
@media only screen and (min-width: 821px) {
  .search-container {
    flex-direction: row;
  }
}
.search-container__search {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-self: center;
  margin-top: 2em;
  border-radius: 4px;
  display: flex;
  justify-content: space-evenly;
  padding: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  position: relative;
}
.search-container__search .search-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media only screen and (min-width: 821px) {
  .search-container__search {
    width: 20%;
    margin-left: 5vw;
  }
}
.search-container__search button {
  background-image: url("../img/search.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fafafa;
  height: 2em;
  width: 2em;
  border: none;
  cursor: pointer;
}
.search-container__search input {
  width: 80%;
  border: none;
  background-color: #fafafa;
  color: #858585;
}
.search-container__search ::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #858585;
  opacity: 1;
  /* Firefox */
}
.search-container__search :-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #858585;
  opacity: 1;
  /* Firefox */
}
.search-container__search ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #858585;
  opacity: 1;
  /* Firefox */
}
.search-container__search .autocomplete-items {
  position: absolute;
  background-color: #fafafa;
  max-height: 20vh;
  overflow: hidden;
  overflow-x: hidden;
  top: 5vh;
}
.search-container__filter {
  width: 40%;
  margin-top: 2em;
  margin-left: 5%;
  padding: 1em;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 4px;
  color: #858585;
}
@media only screen and (min-width: 821px) {
  .search-container__filter {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: 5vw;
    justify-items: flex-end;
  }
}

.api-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
@media only screen and (min-width: 821px) {
  .api-container {
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 1em;
  }
}
.api-container .country {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-bottom: 2em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
}
@media only screen and (min-width: 821px) {
  .api-container .country {
    width: 60%;
    height: 90%;
    margin-bottom: 0em;
  }
}
.api-container .country__flag {
  width: 100%;
  height: 20vh;
  overflow: hidden;
}
.api-container .country__description {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-bottom: 1em;
}
@media only screen and (min-width: 821px) {
  .api-container .country__description {
    margin-bottom: 1em;
  }
}
.api-container .country__description h2 {
  font-size: 1em;
}
.api-container .country__description span {
  font-size: 0.8em;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Nunito Sans", sans-serif;
  color: #2b3945;
  background-color: #fafafa;
}

.darkModeAll {
  color: #cbcbcb;
  background-color: #202c37;
}

.deepColor {
  color: #cbcbcb !important;
  background-color: #2b3945 !important;
}/*# sourceMappingURL=style.css.map */